/*index*/
@font-face {
    font-family: 'MEIRYO';
    src: url('./../fonts/MEIRYO.TTC') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'MEIRYO';
    src: url('./../fonts/MEIRYOB.TTC') format('truetype');
    font-weight: bold;
}
p{
    margin: 0px;
    font-size: 16px;
    font-family:'MEIRYO' ,'メイリオ', 'Meiryo', sans-serif;
}

/*全体*/
#performance {
    display: flex;
    flex-direction: row;
}

#performance .bar{
    background-color: #cccccc;
    width: 1px;
    margin: 20px 0px 0px 0px;
}


/*左サイド共通*/
#performance > .left{
    display: flex;
    flex-direction: column;
    width:300px;
}

#performance >.left .select{
    display: flex;
}

#performance > .left .select .chart{
    width:100px;
    margin: 0px 5px;
}

#performance > .left .select .details .main{
    font-size: 18px;
}

#performance > .left .select .details .sub{
    font-size: 14px;
}

/*右サイド共通*/

#performance > .right {
    margin: 0px 20px;
}
#performance > .right .top{
    margin: 0px 10px 0px 10px;
}

#performance > .right .top .title{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#performance > .right .top .title .main{
    font-size: 32px;
}
#performance > .right .top .title .sub{
    font-size: 20px;
}

#performance > .right .top .subtitle{
    display: flex;
    justify-content: space-between;
    color: #888888;
}

#performance > .right .charts{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: -webkit-calc(100vw - 320px);
    width: -moz-calc(100vw - 320px);
    width: calc(100vw - 320px);  
}

#performance > .right .details{
    display: flex;
    flex-direction: row;
}

#performance > .right .details .left{
    display: flex;
    flex-direction: column;
    margin: 0px 30px 0px 0px;
}

#performance > .right .details .left .column{
    display: flex;
    margin: 5px 0px;
}

#performance > .right .details .left .column .box {
    margin: 0px 10px;
}

#performance > .right .details .left .column .main{
    font-size: 25px;
}

#performance > .right .details .right{
    display: flex;
    flex-direction: row;
}

#performance > .right .details .right .column{
    display: flex;
    flex-direction: column;
    margin: 0px 20px 0px 0px;
    font-size: 14px;
}

#performance > .right .details .column .title{
    color: #888888;
}

/*CPU表示*/
#performance #cpuview .charts .chart{
    width: -webkit-calc((100vw - 320px) / 4);
    width: -moz-calc((100vw - 320px) / 4);
    width: calc((100vw - 320px) / 4);  
}