/*index*/
p{
    margin: 0px;
    font-size: 16px;
}
/*全体*/
#performance {
    display: flex;
    flex-direction: row;
}
/*左サイド共通*/
.left{
    display: flex;
    flex-direction: column;
    width:300px;
    margin-top: 10px;
}

.left .select{
    display: flex;
}

.left .select .chart{
    width:100px;
    margin: 0px 5px;
}

.left .select .details .main{
    font-size: 18px;
}

.left .select .details .sub{
    font-size: 14px;
}

/*右サイド共通*/

.right {
    margin: 0px 20px;
}

.right .title{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0px 10px 0px 10px;
}

.right .title .main{
    font-size: 30px;
}
.right .title .sub{
    font-size: 18px;
}


.right .subtitle{
    display: flex;
    justify-content: space-between;
    margin: 0px 10px 0px 10px;
    font-size: 12px;
    color: #888888;
}

.right .chart{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: -webkit-calc(100vw - 320px);
    width: -moz-calc(100vw - 320px);
    width: calc(100vw - 320px);  
}
/*CPU表示*/
#cpuview .chart > *{
    width: -webkit-calc((100vw - 320px) / 4);
    width: -moz-calc((100vw - 320px) / 4);
    width: calc((100vw - 320px) / 4);  
}